<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Cryxtalix">
  <meta name="description" content="My Resume Writer">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div id="Name">
    <h1><%= name %></h1>
  </div>

  <div id="Info"></div>
  
  <div id="Education"></div>

  <div id="Work_Experience"></div>

  <div id="Skills/Certifications"></div><hr>

  <script src="app.js" defer></script>
</body>
</html>