.Name {
        line-height: 1.2;
        text-align: center;
}

.Info {
        line-height: 1.2;
        text-align: center;
}

.Education {
        line-height: 1.2;
}

.Work_Experience {
        line-height: 1.2;
}

.Skill {
        line-height: 1.2;
}

#section_title {
        text-align: center;
}

p {
        margin: 0;
}